
.footer{
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: 600;

    padding: 10px;
    background-color: gray;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}