
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.cards-container{
    margin: 0px 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 50px;
    justify-content: center;
}

.no_underline{
    text-decoration: none;
}
