#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 66%;
  max-width: 800px;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 10;
}

.modal-container {
  width: 100%;
  height: 400px;
  overflow: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
/* animation effects */
.unActive {
  top: 25% !important;
  transition: 500ms ease-in-out !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

/* close button */
.close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
