
.navbar{
    background-color: #4B0150;
    padding: 15px 50px;
    display: flex;
}

.nav-title{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-title-hd{
    color: white;
}

.navbarlink{
    padding: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
.navbarlink:hover{
    background-color: black;
    border-radius: 5px;
}
