
.navbar{
    background-color: gray;
    padding: 10px 50px;
}
.navbarlink{
    padding: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    border: 1px solid transparent;
}
.navbarlink:hover{
    background-color: black;
    border-radius: 5px;
}
