.queen_contianer{
    height: 90vh;
    width: 100vw;
}
.queen_header{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    max-width: 680px;
}
@media only screen and (max-width: 768px) {
    .queen_header{
        margin: 15px 10px;
    } 
}

.queen_range{
    display: flex;
    justify-content: space-between;
}
.queen_btn{
    font-size: medium;
    margin-bottom: 10px;
}
.queenlabel{
    color: rgb(79, 79, 82);
    padding-right: 5px;
    padding-top: 2px;
}

/* grid */
.queen-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.queen-cell{
    width: 70px;
    height: 70px;
    outline: 1px solid #607d8b;
}
.queen-img{
    background-image: url(../icons/queen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.gray-cell{
    background-color: gray;
}
.green-cell{
    background-color: rgb(70, 216, 70);
}
.yellow-cell{
    background-color: rgb(243, 243, 75);
}
.red-cell{
    background-color: rgb(250, 114, 114);
}
.blue-cell{
    background-color: rgb(148, 200, 248);
}