.square {
  outline: 1px solid #afd8f8;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

.START_NODE {
  /* outline: 1px solid #afd8f8; */
  background-image: url(../icons/pin.png);
  background-repeat: no-repeat;
  /* background-size: 30px; */
}
.END_NODE {
  /* outline: 1px solid #afd8f8; */
  background-image: url(../icons/goal.png);
  background-repeat: no-repeat;
  /* background-size: 30px; */
}

.obtacle {
  outline: 1px solid #2c3e50 !important;
  background-color: #2c3e50 !important;
  animation: wallAnimation 20ms ease-in;
}
/* -------- animation ------ */

@keyframes wallAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.node-visited {
  /* width: 30px;
  height: 30px; */
  outline: 1px solid rgb(107, 218, 233);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 50%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.shortestPath {
  /* width: 30px;
  height: 30px; */
  outline: 1px solid #ffc300;
  animation-name: shortestPathAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgba(151, 143, 70, 0.75);
    border-radius: 50%;
  }
  50% {
    transform: scale(0.8);
    background-color: rgba(192, 187, 39, 0.75);
  }
  75% {
    transform: scale(0.9);
    background-color: rgba(247, 235, 130, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: #ffc300;
  }
}
