
.spiral-continer{
    margin: 20px auto;
    max-width: 450px;
}
.spiral-btns{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .spiral-btns{
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
        justify-content: center;
    }
}
.primeGridContainer{
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.ROW{
    display: flex;
}

.primeSquare{
    outline: 1px solid #7192a3;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
 }
.circle{
    background-color: #40E0D0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
    right rectangle 2 **** left rectangle 1
    bottom rectangle 4 **** top rectangle 2

*/

.rectangle-1{
    background-color: #40E0D0;
    width: 24px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    /* Stacking Elements in Layers Using z-index Property */
    z-index: 2; 
} 
.rectangle-3{
    background-color: #40E0D0;
    width: 30px;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.rectangle-2{
    background-color: #40E0D0;
    width: 6px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rectangle-4{
    background-color: #40E0D0;
    width: 6px;
    height: 24.99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}