/* 
$WIDTH : 46px;
$HEIGHT : 46px 
$font-stack: Helvetica, sans-serif;
$primary-color: #333; 

body {
  font: 100% $font-stack;
  color: $primary-color;
} */

/* .grid{
   width: auto; 
   height: auto; 
   border: 1px solid red; 
}  */

.header{
   height: 100px;
   width: 100%;
}

.ROW{
   display: flex;
}

.square{
   border: 1px solid rgb(226, 226, 226);
   width: 36px;
   height: 36px;
   background-color: rgb(255, 255, 255);
 }

 .START_NODE{
   border: 1px solid rgb(226, 226, 226);
   background-image: url(../icons/pin.png);
   background-repeat: no-repeat;
   background-size: 36px;
 }
 .END_NODE{
   border: 1px solid rgb(226, 226, 226);
   background-image: url(../icons/goal.png);
   background-repeat: no-repeat;
   background-size: 36px;
 }

 .obtacle{
   border: 1px solid #2C3E50;
   /* background-color: rgb(110, 49, 49); */
   background-color: #2C3E50;
   transition-duration: 1.6s;
}
/* -------- animation ------ */


.node-visited{
   width: 36px;
   height: 36px;
   border: 1px solid rgb(107, 218, 233);
   animation-name: visitedAnimation;
   animation-duration: 1.5s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   animation-play-state: running;
}


@keyframes visitedAnimation {
   0%{
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 50%;
   }
   50%{
      background-color: rgba(17, 104, 217, 0.75);
   }
   75%{
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
   }
   100%{
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
   }
}

.shortestPath{
   width: 36px;
   height: 36px;
   border: 1px solid #FFC300;
   animation-name: shortestPathAnimation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   animation-play-state: running;
}

@keyframes shortestPathAnimation {
   0%{
      transform: scale(0.5);
      background-color: rgba(151, 143, 70, 0.75);
      border-radius: 50%;
   }
   50%{
      transform: scale(0.8);
      background-color: rgba(192, 187, 39, 0.75);
   }
   75%{
      transform: scale(0.9);
      background-color: rgba(247, 235, 130, 0.75);
   }
   100%{
      transform: scale(1);
      background-color: #FFC300;
   }
}
