.App{
  margin: 20px 50px;
  position: relative;
}
button{
  margin-top: 10px;
}
.btn{
  margin-right: 10px;
}
.footer{
  height: 20px;
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 120px;
  text-align: center;
}

/* ------------  react logo animation  ---------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
